In [1]:

import h5py
import numpy as np

def get_basename(item):
    """获取组或数据集的基名称"""
    name = item.name
    if name == '/':
        return '/'
    return name.split('/')[-1]

def print_hdf5_structure(item, indent_level=0):
    """递归打印HDF5文件结构"""
    indent = '  ' * indent_level
    basename = get_basename(item)

    # 处理组
    if isinstance(item, h5py.Group):
        # 打印组名称
        if item.name == '/':
            print(f"{indent}Group: /")
        else:
            print(f"{indent}Group: {basename}")
        
        # 打印组的属性
        for attr_name in item.attrs:
            attr_value = item.attrs[attr_name]
            # 处理不同类型的属性值
            if isinstance(attr_value, np.ndarray):
                attr_str = f"ndarray{attr_value.shape} {attr_value.dtype}"
            elif isinstance(attr_value, bytes):
                attr_str = attr_value.decode()
            else:
                attr_str = str(attr_value)
            print(f"{indent}  Attribute: {attr_name}: {attr_str}")
        
        # 递归遍历子项
        for key in item:
            child = item[key]
            print_hdf5_structure(child, indent_level + 1)
    
    # 处理数据集
    elif isinstance(item, h5py.Dataset):
        # 打印数据集信息
        print(f"{indent}Dataset: {basename} (Shape: {item.shape}, Dtype: {item.dtype})")
        
        # 打印数据集的属性
        for attr_name in item.attrs:
            attr_value = item.attrs[attr_name]
            if isinstance(attr_value, np.ndarray):
                attr_str = f"ndarray{attr_value.shape} {attr_value.dtype}"
            elif isinstance(attr_value, bytes):
                attr_str = attr_value.decode()
            else:
                attr_str = str(attr_value)
            print(f"{indent}  Attribute: {attr_name}: {attr_str}")

# 示例用法
with h5py.File('/home/yangzongxian/xlz/ASD_GCN/main/data2/abide.hdf5', 'r') as f:
    print_hdf5_structure(f)

Group: /
  Group: experiments
    Group: aal_leavesiteout-CALTECH
      Attribute: derivative: aal
      Group: 0
        Dataset: test (Shape: (37,), Dtype: |S15)
        Dataset: train (Shape: (698,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 1
        Dataset: test (Shape: (37,), Dtype: |S15)
        Dataset: train (Shape: (698,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 2
        Dataset: test (Shape: (37,), Dtype: |S15)
        Dataset: train (Shape: (698,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 3
        Dataset: test (Shape: (37,), Dtype: |S15)
        Dataset: train (Shape: (698,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 4
        Dataset: test (Shape: (37,), Dtype: |S15)
        Dataset: train (Shape: (698,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 5
        Dataset: test (Shape: (37,), Dtype: |S15)
        Dataset: train (Shape: (698,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 6
        Dataset: test (Shape: (37,), Dtype: |S15)
        Dataset: train (Shape: (698,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 7
        Dataset: test (Shape: (37,), Dtype: |S15)
        Dataset: train (Shape: (698,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 8
        Dataset: test (Shape: (37,), Dtype: |S15)
        Dataset: train (Shape: (698,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 9
        Dataset: test (Shape: (37,), Dtype: |S15)
        Dataset: train (Shape: (698,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
    Group: aal_leavesiteout-CMU
      Attribute: derivative: aal
      Group: 0
        Dataset: test (Shape: (27,), Dtype: |S13)
        Dataset: train (Shape: (705,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 1
        Dataset: test (Shape: (27,), Dtype: |S13)
        Dataset: train (Shape: (705,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 2
        Dataset: test (Shape: (27,), Dtype: |S13)
        Dataset: train (Shape: (705,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 3
        Dataset: test (Shape: (27,), Dtype: |S13)
        Dataset: train (Shape: (705,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 4
        Dataset: test (Shape: (27,), Dtype: |S13)
        Dataset: train (Shape: (705,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 5
        Dataset: test (Shape: (27,), Dtype: |S13)
        Dataset: train (Shape: (705,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 6
        Dataset: test (Shape: (27,), Dtype: |S13)
        Dataset: train (Shape: (705,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 7
        Dataset: test (Shape: (27,), Dtype: |S13)
        Dataset: train (Shape: (705,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 8
        Dataset: test (Shape: (27,), Dtype: |S13)
        Dataset: train (Shape: (705,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 9
        Dataset: test (Shape: (27,), Dtype: |S13)
        Dataset: train (Shape: (705,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
    Group: aal_leavesiteout-KKI
      Attribute: derivative: aal
      Group: 0
        Dataset: test (Shape: (48,), Dtype: |S11)
        Dataset: train (Shape: (690,), Dtype: |S16)
        Dataset: valid (Shape: (148,), Dtype: |S16)
      Group: 1
        Dataset: test (Shape: (48,), Dtype: |S11)
        Dataset: train (Shape: (690,), Dtype: |S16)
        Dataset: valid (Shape: (148,), Dtype: |S16)
      Group: 2
        Dataset: test (Shape: (48,), Dtype: |S11)
        Dataset: train (Shape: (690,), Dtype: |S16)
        Dataset: valid (Shape: (148,), Dtype: |S16)
      Group: 3
        Dataset: test (Shape: (48,), Dtype: |S11)
        Dataset: train (Shape: (690,), Dtype: |S16)
        Dataset: valid (Shape: (148,), Dtype: |S16)
      Group: 4
        Dataset: test (Shape: (48,), Dtype: |S11)
        Dataset: train (Shape: (690,), Dtype: |S16)
        Dataset: valid (Shape: (148,), Dtype: |S16)
      Group: 5
        Dataset: test (Shape: (48,), Dtype: |S11)
        Dataset: train (Shape: (690,), Dtype: |S16)
        Dataset: valid (Shape: (148,), Dtype: |S16)
      Group: 6
        Dataset: test (Shape: (48,), Dtype: |S11)
        Dataset: train (Shape: (690,), Dtype: |S16)
        Dataset: valid (Shape: (148,), Dtype: |S16)
      Group: 7
        Dataset: test (Shape: (48,), Dtype: |S11)
        Dataset: train (Shape: (690,), Dtype: |S16)
        Dataset: valid (Shape: (148,), Dtype: |S16)
      Group: 8
        Dataset: test (Shape: (48,), Dtype: |S11)
        Dataset: train (Shape: (690,), Dtype: |S16)
        Dataset: valid (Shape: (148,), Dtype: |S16)
      Group: 9
        Dataset: test (Shape: (48,), Dtype: |S11)
        Dataset: train (Shape: (690,), Dtype: |S16)
        Dataset: valid (Shape: (148,), Dtype: |S16)
    Group: aal_leavesiteout-LEUVEN
      Attribute: derivative: aal
      Group: 0
        Dataset: test (Shape: (63,), Dtype: |S16)
        Dataset: train (Shape: (680,), Dtype: |S16)
        Dataset: valid (Shape: (146,), Dtype: |S16)
      Group: 1
        Dataset: test (Shape: (63,), Dtype: |S16)
        Dataset: train (Shape: (680,), Dtype: |S16)
        Dataset: valid (Shape: (146,), Dtype: |S16)
      Group: 2
        Dataset: test (Shape: (63,), Dtype: |S16)
        Dataset: train (Shape: (680,), Dtype: |S16)
        Dataset: valid (Shape: (146,), Dtype: |S16)
      Group: 3
        Dataset: test (Shape: (63,), Dtype: |S16)
        Dataset: train (Shape: (680,), Dtype: |S16)
        Dataset: valid (Shape: (146,), Dtype: |S16)
      Group: 4
        Dataset: test (Shape: (63,), Dtype: |S16)
        Dataset: train (Shape: (680,), Dtype: |S16)
        Dataset: valid (Shape: (146,), Dtype: |S16)
      Group: 5
        Dataset: test (Shape: (63,), Dtype: |S16)
        Dataset: train (Shape: (680,), Dtype: |S16)
        Dataset: valid (Shape: (146,), Dtype: |S16)
      Group: 6
        Dataset: test (Shape: (63,), Dtype: |S16)
        Dataset: train (Shape: (680,), Dtype: |S16)
        Dataset: valid (Shape: (146,), Dtype: |S16)
      Group: 7
        Dataset: test (Shape: (63,), Dtype: |S16)
        Dataset: train (Shape: (680,), Dtype: |S16)
        Dataset: valid (Shape: (146,), Dtype: |S16)
      Group: 8
        Dataset: test (Shape: (63,), Dtype: |S16)
        Dataset: train (Shape: (680,), Dtype: |S16)
        Dataset: valid (Shape: (146,), Dtype: |S16)
      Group: 9
        Dataset: test (Shape: (63,), Dtype: |S16)
        Dataset: train (Shape: (680,), Dtype: |S16)
        Dataset: valid (Shape: (146,), Dtype: |S16)
    Group: aal_leavesiteout-MAX_MUN
      Attribute: derivative: aal
      Group: 0
        Dataset: test (Shape: (52,), Dtype: |S16)
        Dataset: train (Shape: (688,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 1
        Dataset: test (Shape: (52,), Dtype: |S16)
        Dataset: train (Shape: (688,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 2
        Dataset: test (Shape: (52,), Dtype: |S16)
        Dataset: train (Shape: (688,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 3
        Dataset: test (Shape: (52,), Dtype: |S16)
        Dataset: train (Shape: (688,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 4
        Dataset: test (Shape: (52,), Dtype: |S16)
        Dataset: train (Shape: (688,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 5
        Dataset: test (Shape: (52,), Dtype: |S16)
        Dataset: train (Shape: (688,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 6
        Dataset: test (Shape: (52,), Dtype: |S16)
        Dataset: train (Shape: (688,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 7
        Dataset: test (Shape: (52,), Dtype: |S16)
        Dataset: train (Shape: (688,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 8
        Dataset: test (Shape: (52,), Dtype: |S16)
        Dataset: train (Shape: (688,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 9
        Dataset: test (Shape: (52,), Dtype: |S16)
        Dataset: train (Shape: (688,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
    Group: aal_leavesiteout-NYU
      Attribute: derivative: aal
      Group: 0
        Dataset: test (Shape: (18,), Dtype: object)
        Dataset: train (Shape: (105,), Dtype: object)
        Dataset: valid (Shape: (52,), Dtype: object)
      Group: 1
        Dataset: test (Shape: (18,), Dtype: object)
        Dataset: train (Shape: (105,), Dtype: object)
        Dataset: valid (Shape: (52,), Dtype: object)
      Group: 2
        Dataset: test (Shape: (18,), Dtype: object)
        Dataset: train (Shape: (105,), Dtype: object)
        Dataset: valid (Shape: (52,), Dtype: object)
      Group: 3
        Dataset: test (Shape: (18,), Dtype: object)
        Dataset: train (Shape: (105,), Dtype: object)
        Dataset: valid (Shape: (52,), Dtype: object)
      Group: 4
        Dataset: test (Shape: (18,), Dtype: object)
        Dataset: train (Shape: (105,), Dtype: object)
        Dataset: valid (Shape: (52,), Dtype: object)
      Group: 5
        Dataset: test (Shape: (17,), Dtype: object)
        Dataset: train (Shape: (105,), Dtype: object)
        Dataset: valid (Shape: (53,), Dtype: object)
      Group: 6
        Dataset: test (Shape: (17,), Dtype: object)
        Dataset: train (Shape: (105,), Dtype: object)
        Dataset: valid (Shape: (53,), Dtype: object)
      Group: 7
        Dataset: test (Shape: (17,), Dtype: object)
        Dataset: train (Shape: (105,), Dtype: object)
        Dataset: valid (Shape: (53,), Dtype: object)
      Group: 8
        Dataset: test (Shape: (17,), Dtype: object)
        Dataset: train (Shape: (105,), Dtype: object)
        Dataset: valid (Shape: (53,), Dtype: object)
      Group: 9
        Dataset: test (Shape: (17,), Dtype: object)
        Dataset: train (Shape: (105,), Dtype: object)
        Dataset: valid (Shape: (53,), Dtype: object)
    Group: aal_leavesiteout-OHSU
      Attribute: derivative: aal
      Group: 0
        Dataset: test (Shape: (26,), Dtype: |S12)
        Dataset: train (Shape: (706,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 1
        Dataset: test (Shape: (26,), Dtype: |S12)
        Dataset: train (Shape: (706,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 2
        Dataset: test (Shape: (26,), Dtype: |S12)
        Dataset: train (Shape: (706,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 3
        Dataset: test (Shape: (26,), Dtype: |S12)
        Dataset: train (Shape: (706,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 4
        Dataset: test (Shape: (26,), Dtype: |S12)
        Dataset: train (Shape: (706,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 5
        Dataset: test (Shape: (26,), Dtype: |S12)
        Dataset: train (Shape: (706,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 6
        Dataset: test (Shape: (26,), Dtype: |S12)
        Dataset: train (Shape: (706,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 7
        Dataset: test (Shape: (26,), Dtype: |S12)
        Dataset: train (Shape: (706,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 8
        Dataset: test (Shape: (26,), Dtype: |S12)
        Dataset: train (Shape: (706,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 9
        Dataset: test (Shape: (26,), Dtype: |S12)
        Dataset: train (Shape: (706,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
    Group: aal_leavesiteout-OLIN
      Attribute: derivative: aal
      Group: 0
        Dataset: test (Shape: (34,), Dtype: |S12)
        Dataset: train (Shape: (700,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 1
        Dataset: test (Shape: (34,), Dtype: |S12)
        Dataset: train (Shape: (700,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 2
        Dataset: test (Shape: (34,), Dtype: |S12)
        Dataset: train (Shape: (700,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 3
        Dataset: test (Shape: (34,), Dtype: |S12)
        Dataset: train (Shape: (700,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 4
        Dataset: test (Shape: (34,), Dtype: |S12)
        Dataset: train (Shape: (700,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 5
        Dataset: test (Shape: (34,), Dtype: |S12)
        Dataset: train (Shape: (700,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 6
        Dataset: test (Shape: (34,), Dtype: |S12)
        Dataset: train (Shape: (700,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 7
        Dataset: test (Shape: (34,), Dtype: |S12)
        Dataset: train (Shape: (700,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 8
        Dataset: test (Shape: (34,), Dtype: |S12)
        Dataset: train (Shape: (700,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 9
        Dataset: test (Shape: (34,), Dtype: |S12)
        Dataset: train (Shape: (700,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
    Group: aal_leavesiteout-PITT
      Attribute: derivative: aal
      Group: 0
        Dataset: test (Shape: (56,), Dtype: |S12)
        Dataset: train (Shape: (685,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 1
        Dataset: test (Shape: (56,), Dtype: |S12)
        Dataset: train (Shape: (685,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 2
        Dataset: test (Shape: (56,), Dtype: |S12)
        Dataset: train (Shape: (685,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 3
        Dataset: test (Shape: (56,), Dtype: |S12)
        Dataset: train (Shape: (685,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 4
        Dataset: test (Shape: (56,), Dtype: |S12)
        Dataset: train (Shape: (685,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 5
        Dataset: test (Shape: (56,), Dtype: |S12)
        Dataset: train (Shape: (685,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 6
        Dataset: test (Shape: (56,), Dtype: |S12)
        Dataset: train (Shape: (685,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 7
        Dataset: test (Shape: (56,), Dtype: |S12)
        Dataset: train (Shape: (685,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 8
        Dataset: test (Shape: (56,), Dtype: |S12)
        Dataset: train (Shape: (685,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
      Group: 9
        Dataset: test (Shape: (56,), Dtype: |S12)
        Dataset: train (Shape: (685,), Dtype: |S16)
        Dataset: valid (Shape: (147,), Dtype: |S16)
    Group: aal_leavesiteout-SBL
      Attribute: derivative: aal
      Group: 0
        Dataset: test (Shape: (30,), Dtype: |S11)
        Dataset: train (Shape: (703,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 1
        Dataset: test (Shape: (30,), Dtype: |S11)
        Dataset: train (Shape: (703,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 2
        Dataset: test (Shape: (30,), Dtype: |S11)
        Dataset: train (Shape: (703,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 3
        Dataset: test (Shape: (30,), Dtype: |S11)
        Dataset: train (Shape: (703,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 4
        Dataset: test (Shape: (30,), Dtype: |S11)
        Dataset: train (Shape: (703,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 5
        Dataset: test (Shape: (30,), Dtype: |S11)
        Dataset: train (Shape: (703,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 6
        Dataset: test (Shape: (30,), Dtype: |S11)
        Dataset: train (Shape: (703,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 7
        Dataset: test (Shape: (30,), Dtype: |S11)
        Dataset: train (Shape: (703,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 8
        Dataset: test (Shape: (30,), Dtype: |S11)
        Dataset: train (Shape: (703,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
      Group: 9
        Dataset: test (Shape: (30,), Dtype: |S11)
        Dataset: train (Shape: (703,), Dtype: |S16)
        Dataset: valid (Shape: (151,), Dtype: |S16)
    Group: aal_leavesiteout-SDSU
      Attribute: derivative: aal
      Group: 0
        Dataset: test (Shape: (36,), Dtype: |S12)
        Dataset: train (Shape: (699,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 1
        Dataset: test (Shape: (36,), Dtype: |S12)
        Dataset: train (Shape: (699,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 2
        Dataset: test (Shape: (36,), Dtype: |S12)
        Dataset: train (Shape: (699,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 3
        Dataset: test (Shape: (36,), Dtype: |S12)
        Dataset: train (Shape: (699,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 4
        Dataset: test (Shape: (36,), Dtype: |S12)
        Dataset: train (Shape: (699,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 5
        Dataset: test (Shape: (36,), Dtype: |S12)
        Dataset: train (Shape: (699,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 6
        Dataset: test (Shape: (36,), Dtype: |S12)
        Dataset: train (Shape: (699,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 7
        Dataset: test (Shape: (36,), Dtype: |S12)
        Dataset: train (Shape: (699,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 8
        Dataset: test (Shape: (36,), Dtype: |S12)
        Dataset: train (Shape: (699,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
      Group: 9
        Dataset: test (Shape: (36,), Dtype: |S12)
        Dataset: train (Shape: (699,), Dtype: |S16)
        Dataset: valid (Shape: (150,), Dtype: |S16)
    Group: aal_leavesiteout-STANFORD
      Attribute: derivative: aal
      Group: 0
        Dataset: test (Shape: (39,), Dtype: |S16)
        Dataset: train (Shape: (697,), Dtype: |S16)
        Dataset: valid (Shape: (149,), Dtype: |S16)
      Group: 1
        Dataset: test (Shape: (39,), Dtype: |S16)
        Dataset: train (Shape: (697,), Dtype: |S16)
        Dataset: valid (Shape: (149,), Dtype: |S16)
      Group: 2
        Dataset: test (Shape: (39,), Dtype: |S16)
        Dataset: train (Shape: (697,), Dtype: |S16)
        Dataset: valid (Shape: (149,), Dtype: |S16)
      Group: 3